.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list Member：
      %li.main-header__left-box__member-list__member
        - @group.group_users.each do |group_user|
          = group_user.user.name
    =link_to "Edit", edit_group_path(@group.id), class: "edit-btn", type: "button"

  .messages
    = render partial: 'message', collection: @messages
  
  .form
    = form_for [@group, @message] do |f|
      .form-box
        .input-box
          = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'picture-o', class: 'fa fa-image'
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
  
  -# .form
  -#   %form.new_message
  -#     .input-box
  -#       %input.input-box__text{type: "text", placeholder: "type a message"}
  -#       %label.input-box__image
  -#         %i.fa.fa-image
  -#         %input.input-box__image__file{type: "file"}
  -#     %input.submit-btn{type: "submit", value: "Send"}
