= form_for group do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label :name, class: 'chat-group-form__label', value: "グループ名"
    .chat-group-form__field--right
      = f.text_field :name, class: 'chat_group_name chat-group-form__input', placeholder: "グループ名を入力してください"

  .chat-group-form__field
    / この部分はインクリメンタルサーチ(ユーザー追加の非同期化)のときに使用します
    / 「チャットメンバーを追加」と「チャットメンバー」
    .chat-group-form__field--left
      = f.label :name, class: 'chat-group-form__label', value: "チャットメンバーを追加"
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input#user-search-field.chat-group-form__input{type: "text", placeholder: "追加したいユーザー名を入力してください"}
      #user-search-result

  .chat-group-form__field
    .chat-group-form__field--left
      = f.label "チャットメンバー", class: 'chat-group-form__label'
    .chat-group-form__field--right.group-member
      .chat-group-user
        %input.chat-group-user__name{name: "group[user_ids][]",type: "hidden", value: "#{current_user.id}"}
          = current_user.name
      - @group.users.where.not(name:current_user.name).each do |group_user|
        .chat-group-user.clearfix.js-chat-member
          %input.chat-group-user__name{name: "group[user_ids][]",type: "hidden", value: "#{group_user.id}"}
            = group_user.name
            .user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn 削除

      / この部分はインクリメンタルサーチ(ユーザー追加の非同期化)のときにも使用します
      /「更新ボタン」
  .chat-group-form__field
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class: 'chat-group-form__action-btn'